<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/index.css'>
		<!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
		<script src='/javascripts/index.js'></script>
	</head>
	<body>
		<div>
			<section class="main">
				<div id="main_titles">
					<img src="images/logo_blanc-01.png">
					<div class='contact'>
						<p>
							Vous souhaitez faire partie des premiers à utiliser Webtag? <br/>
							Laissez nous votre email!
						</p>
						<form action='/' method='post' name='emailForm'>
							<input class='whities' type='email' name='email' placeholder='Email' id='email2'/>
						</form>
					</div>
				</div>
			</section>
		</div>
		<div class='dividers' id='become'>
			<div id='becomeweb'>
				<h1 id='firsttext'>DEVENEZ <br/> WEBTAGGER<span class='yellow'>!</span></h1><br />
			</div>
			<p id='secondtext'>
				Webtag s’inspire du street art et prend le web
				comme un mur virtuel, avec l’ambition de créer
				une plateforme communautaire pour les artistes
				et amateurs, en proposant un nouvel espace
				d’expression artistique sur le web.
			</p>
		</div>
		<div class='dividers' id='theyellowdiv'>
			<img src='/images/auraws.png' alt='aura' id='aura'/>
			<img src='/images/ilu-01.png' alt='tag-calc' id='tagcomp'/>
			<div id='firsttext'>
				<h1>TRANSFORMER <br />LE WEB<span class='yellow'>.</span></h1>
				<p id='secondtext'>
					Internet devient une galerie virtuelle <br />
					et communautaire où tout le monde peut venir <br />
					s’exprimer et devenir artiste numérique.
				</p>
			</div>
		</div>
		<div class='dividers' id='whatitis'>
			<div class='inline'>
				<img src='/images/sticker-01.png' alt='plugin' id='plugin'/><br />
				<p id='thirdtext'>Un Plugin</p>
			</div>
			<div class='inline'>
				<img src='/images/mac_accueil.png' alt='site' id='site'/><br />
				<p id='thirdtext'>Un Site Web</p>
			</div>
			<div class='inline'>
				<img src='/images/app_screen.png' alt='app' id='app'/><br />
				<!-- <img src='/images/app_stars.png' alt='app2' id='app' -->
				<p id='thirdtext'>Une Application</p>
			</div>
		</div>
		<div id='giantdiv'>
			<div class='inner_content'>
				<img src='/images/fond_orangecrop.png' alt='orangebg' id='orangebg'/>
				<h1 id='num1'>01</h1>
				<h1 id='pluginh1'>Plugin</h1>
				<img src='/images/plugg.png' alt='plugin' id='pluginpic'/>
				<img src='/images/sticker-01.png' alt='plugin' id='pluginlg'/>
				<p id='plugintxt'>
					Grâce au téléchargement d’un plugin, muni d’un outil graphique performant, il sera bientôt possible de tagger le web ou d’y importer des images.
					Le plugin marche comme un calque qui s’applique directement sur tous les sites internet, et permet de créer et de visualiser les oeuvres des webtaggers.
				</p>
				<p>

				</p>
				<img src='/images/fond_bleucrop.png' alt='bluebg' id='bluebg'/>
				<h1 id='num2'>02</h1>
				<h1 id='siteh1'>Site Web</h1>
				<img src='/images/mac_accueil.png' alt='site' id='sitepic'/>
				<p id='sitetxt'>
					L’application est une déclinaison ludique du site, où l’utilisateur peut personnaliser son rapport aux oeuvres par une notation en étoiles, exprimer ses émotions par des émoticônes et échanger sur des canaux de discussion.
				</p>
				<img src='/images/fond_rosecrop.png' alt='rosebg' id='rosebg'/>
				<h1 id='num3'>03</h1>
				<h1 id='apph1'>Application</h1>
				<img src='/images/app_screen.png' alt='app' id='apppic'/><br />
				<p id='apptxt'>
					Le plugin est lié à un site internet communautaire où les webtaggers ont leur galerie personnelle — comme un book — pour partager leurs oeuvres et celles des autres. Grâce au site, il sera possible d’établir des partenariats avec des sites, des marques et de vendre ses oeuvres.
				</p>
			</div>
		</div>
		<div class='dividers' id='footer'>
			<h2 class='whities' id='size'>POUR PLUS D'INFORMATIONS</h2>
			<div id='foot'>
				<div class='contact' id='cont'>
					<p class='whities'>
						si vous voulez recevoir le plugin en avant <br />
						premiere contactez nous à cette adresse :
					</p>
					<div id='contactus'>
						<a id='link' class='whities' href='mailto:team@webtag.fr'>team@webtag.fr</a>
					</div>
				</div>
				<div class='contact'>
					<p class='whities'>
						si vous souhaitez être tenu au courant <br />
						de la sortie world wide de notre plateforme <br />
						<span id='smallersize'>Laissez nous votre adresse mail ci dessous :</span>
							<form action='/' method='post' name='emailForm'>
								<input class='whities' type='email' name='email' placeholder='Email' id='email'/>
							</form>
					</p>
				</div>
				<h1>
					<a href="https://www.facebook.com/WebtagTeam/">facebook</a> | <a href="https://www.instagram.com/webtagteam/">Instagram</a> | <a href="https://twitter.com/webtagteam">Twitter</a>
				</h1>
			</div>
		</div>
		<section class="copyright">	<h1>© Webtag - All rights reserved 2017</h1> </section>
	</body>
</html>
