<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/index.css'>
	</head>
	<body>
		<div class='dividers' id='blue_div'>
			<img src='/images/logo_blanc-01.png' alt='logo' id='logo'>
		</div>
		<div class='dividers'>
			<img src='/images/ilu-01.png' alt='tag-calc' id='tagcomp'/>
			<div id='firsttext'>
				<h1>TRANSFORMER <br />LE WEB<span class='yellow'>.</span></h1>
				<p id='secondtext'>
					Internet devient une galerie virtuelle <br />
					et communautaire où tout le monde peut venir <br />
					s’exprimer et devenir artiste numérique.
				</p>
			</div>
		</div>
		<div class='dividers' id='theyellowdiv'>
			<div id='becomeweb'>
				<h1 id='firsttext'>DEVENEZ <br/> WEBTAGGER<span class='yellow'>!</span></h1><br />
				<a class='whities' href='mailto:team@webtag.fr'>team@webtag.fr</a>
			</div>
			<p id='secondtext'>
				Webtag s’inspire du street art et prend le web<br />
				comme un mur virtuel, avec l’ambition de créer <br />
				une plateforme communautaire pour les artistes <br />
				et amateurs, en proposant un nouvel espace <br />
				d’expression artistique sur le web.
			</p>
		</div>
		<div class='dividers' id='whatitis'>
			<div class='inline'>
				<img src='/images/sticker-01.png' alt='plugin' id='plugin'/><br />
				<p id='secondtext'>Un Plugin</p>
			</div>
			<div class='inline'>
				<img src='/images/mac_accueil.png' alt='site' id='site'/><br />
				<p id='secondtext'>Un Site Web</p>
			</div>
			<div class='inline'>
				<img src='/images/app_accueil.png' alt='app' id='app'/><br />
				<!-- <img src='/images/app_stars.png' alt='app2' id='app' -->
				<p id='secondtext'>Une Application</p>
			</div>
		</div>
		<div id='giantdiv'>
			<!-- <img src='/images/fond_orange-01.png' alt='orangebg' id='orangebg'/> -->
		</div>
		<div class='dividers' id='footer'>
			<h2 class='whities'>POUR PLUS D'INFORMATIONS</h2>
			<div>
				<div class='contact' id='cont'>
					<p class='whities' id='secondtext'>
						si vous voulez recevoir le plugin en avant <br />
						premiere contactez nous a cette adresse :
					</p>
					<div id='contactus'>
						<a class='whities' href='mailto:team@webtag.fr'>team@webtag.fr</a>
					</div>
				</div>
				<div class='contact'>
					<p class='whities' id='secondtext'>
						si vous souhaitez être tenu au courant <br />
						de la sortie world wild de notre plateforme ? <br />
						<span id='smallersize'>Laissez-nous votre adresse mail ci dessous :</span>
						<div id='email'>
							<a class='whities' href='mailto:team@webtag.fr'>team@webtag.fr</a>
						</div>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
