<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Webtag</title>
		<link rel="stylesheet" href="/stylesheets/reset.css">
		<link rel="stylesheet" href="/stylesheets/styles.css">
		<!-- <link rel="stylesheet" href="/stylesheets/index.css"> -->
		<script type="text/javascript" src="rsrc/js/custom.js"></script>
	</head>
<body>
	<div id="container">
		<section class="content">
			<section class="main">
				<div id="main_titles">
					<img src="images/logo_blanc-01.png">
					<a href="http://google.com"><span id="Button"> Rejoignez-Nous </span></a>
				</div>
			</section>
			<section class="inter">
				<div id="inter_title">
					<ul>
						<img src='/images/ilu-01.png' alt='tag-calc' id='tagcomp'/>
						<li id="titre">
							<h1> TRANSFORMER <br>LE WEB<span class='yellow'>.</span></h1><br />
							<h2>Internet devient une galerie virtuelle
								et communautaire où tout le monde peut venir
								s’exprimer et devenir artiste numérique.</h2>
						</li>
					</ul>
				</div>
				<div id="inter_title" class='theyellowdiv'>
					<ul>
						<li id="titre2">
							<h1> DEVENEZ <br>WEBTAGGER<span class='yellow'>!</span></h1>
						</li>
						<li>
							<h2>
								Webtag s’inspire du street art et prend le web
								comme un mur virtuel, avec l’ambition de créer
								une plateforme communautaire pour les artistes
								et amateurs, en proposant un nouvel espace
								d’expression artistique sur le web.
							</h2>

						</li>
					</ul>
				</div>
		</section>
		<section class="first">
			<!-- <div class='dividers' id='whatitis'> -->
				<div class='inline'>
					<img src='/images/sticker-01.png' alt='plugin' id='plugin'/><br />
					<p id='thirdtext'>Un Plugin</p>
				</div>
				<div class='inline'>
					<img src='/images/mac_accueil.png' alt='site' id='site'/><br />
					<p id='thirdtext'>Un Site Web</p>
				</div>
				<div class='inline'>
					<img src='/images/app_screen.png' alt='app' id='app'/><br />
					<!-- <img src='/images/app_stars.png' alt='app2' id='app' -->
					<p id='thirdtext'>Une Application</p>
				</div>
			<!-- </div> -->
		</section>

	<section class="second">
		<div id="content_second">
			<ul>
				<li class="texte"><h2>Le mémoire</h2>
					<p style="padding-bottom: 2em;">Le projet Terrain Vague est la réponse à une problématique abordée dans un mémoire portant sur la place de la danse hip-hop en France : <b style="color:#ed2938;"><br>Quel dispositif mettre en place pour inscrire la danse hip-hop dans le patrimoine français ?</br></b> </p>
					<div class="zone_cta_memoire">
						<a href="http://bit.ly/2qqMtpM"><span id="CTA_memoire"> Lire le mémoire</span></a>
					</div>
				</li>
				<li class="image">
					<div>
						<img src="rsrc/m/memoire.png">
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="second">
		<div id="content_second">
			<ul>
				<li class="image">
					<div>
					<img src="rsrc/m/press.png">
					</div>
				</li>
				<li class="texte"><h2>En savoir plus</h2>
					<p style="padding-bottom: 2em;">Vous êtes un média traitant de culture urbaine ? Téléchargez le kit presse pour en savoir plus et découvrir du contenu exclusif en lien avec le projet.</p>
					<div class="zone_cta_memoire">
						<a href="http://bit.ly/2rX0udB"><span id="CTA_memoire">le kit press</span></a>
					</div>
				</li>
			</ul>
		</div>
	</section>
	</section>
	</div>
	<footer>
		<section class="foot">
			<div id="foot_logo">
				<h2>POUR PLUS D'INFORMATIONS</h2>
				<!-- <div> -->
					<div class='contact'>
						<p id='secondtext'>
							si vous voulez recevoir le plugin en avant <br />
							premiere contactez nous a cette adresse :
						</p>
					</div>
					<a id='link' href='mailto:team@webtag.fr'>team@webtag.fr</a>
					<div id='contactus'>
					</div>
					<div class='contact'>
						<p id='secondtext'>
							si vous souhaitez être tenu au courant <br />
							de la sortie world wild de notre plateforme ? <br />
							<span id='smallersize'>Laissez-nous votre adresse mail ci dessous :</span>
								<form action='/' method='post' name='emailForm'>
									<input type='email' name='email' placeholder='Email' id='email'/>
								</form>
						</p>
					</div>
				<h1>
					<a href="https://www.facebook.com/WebtagTeam/">facebook</a> | <a href="https://www.instagram.com/webtagteam/">Instagram</a> | <a href="https://twitter.com/webtagteam">Twitter</a>
				</h1>
			<!-- </div> -->
		</section>
		<section class="copyright">	<h1>© Webtag - All rights reserved 2017</h1> </section>
	</footer>
</body>
</html>
