@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-Extrabold.otf');
}

@font-face {
	font-family: 'Gilroy-Light';
	src: url('../fonts/Gilroy-Light.otf');
}

@font-face {
	font-family: 'Gotham-Bold';
	src: url('../fonts/Gotham-Bold.otf');
}

a{
	text-decoration: none;
}

*::-webkit-input-placeholder {
	color: white;
	font-size: 15px;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: white;
	font-size: 15px;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: white;
	font-size: 15px;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
	font-size: 15px;
}

h1{
	font-family: 'Gilroy-ExtraBold';
	font-size: 50px;
}
h2{
	font-family: 'Gilroy-ExtraBold';
}

#link{
	text-decoration: none;
	border-radius: 25px;
	border : 3px solid white;
	padding: 15px;
	font-family: 'Gilroy-Light';
}

.main {
	width: 100%;
	min-height: 700px;
	background: url(/images/fondtitre.png) no-repeat;
	background-size: cover;margin: 0 auto;
	background-attachment: fixed;
	background-position: center;
}

#main_titles {
width:100%;
margin: 0 auto;
text-align: center;
}

#main_titles img {
	display:block;
	width:30em;
	text-align: center;
	margin: 0 auto;
	padding-top:10em;
}

#main_titles p{
	text-align: center;
	color: white;
	font-family: 'Gilroy-Light';
	font-weight: bold;
}

#main_titles input{
	border-radius: 25px; border : 3px solid white; padding: 18px; font-family: 'Gilroy-Light'; background-color: #001360;
}

@media screen and (min-width: 1241px)
{
	.inner_content{
		position: relative;
		margin: auto;
		min-width: 1240px;
		max-width: 1300px;
	}
	#plugintxt{ right: 145px; margin-top: 100px; }
	#apptxt{ left: 200px; margin-top : 660px; }
	#sitetxt{ right : 145px; margin-top: 1200px; }
	#aura{margin-top: 310px;}
}

@media screen and (max-width: 1240px)
{
	#plugintxt{ right: 40px; margin-top: 100px; }
	#apptxt{ left: 40px; margin-top : 660px; }
	#sitetxt{ right : 40px; margin-top: 1200px; }
	#aura{margin-top: 210px;}
	.inner_content{
		min-width: 320px;
	}
}
@media screen and (max-width: 1000px){
	#aura{margin-top: 350px; }

	.inner_content{
		min-width: 1000px;
	}
}
#email{ margin-left: -100px; border-radius: 25px; border : 3px solid white; padding: 18px; font-family: 'Gilroy-Light'; background-color: #001360}

.yellow{
	color : #F8BF26;
}

.dividers{
	width: 100%;
	text-align: center;
	position: relative;
}

.whities{
	color : #FFFFFF;
}

.contact{ display: inline-block; vertical-align: top;}

#blue_div{
	text-align: center;
	background-color: darkblue;
}

#become{
	padding-bottom: 80px;
	padding-top: 80px;
}

#theyellowdiv{ background-color: #F4F0CD;}

#logo{ height:370px; width: auto; }
#tagcomp{ height: 380px; width: auto; padding-top: 20px; margin-right: 110px;}
#firsttext, #tagcomp, #becomeweb, #secondtext, #thirdtext, .inline{
	display: inline-block;
	vertical-align:middle;
}

#firsttext, #secondtext{ text-align: justify;}
#secondtext{font-family: 'Gilroy-Light'; width : 400px}
#thirdtext{font-family: 'Gilroy-Light';}
#becomeweb{ margin-left:90px; margin-right: 210px;}
#whatitis{padding-bottom: 50px; padding-top: 100px; }
#aura{
	position: absolute;
	height: 160px;
	width: auto;
	left: 50%;
	margin-left: -125.225px;
}
#plugin{
	width: 280px;
	height: 210px;
}

#site{
	width: auto;
	height: 200px;
	margin-right: 100px;
	margin-left: 60px;
}

#app{
	width: auto;
	height: 204px;
}

#contactus{
	margin-top: 30px;
	font-family: 'Gilroy-Light';
	margin-left: -100px;
	/*font-weight: 60px;*/
	/*border-radius: 25px;
	border : 2px solid white;
	padding: 15px;*/
}
#giantdiv{
	position: relative;
	height : 1550px;
}

#orangebg, #bluebg, #rosebg{height: 550px; width: 550px; position: absolute;}
#orangebg{ left: 0px; }
#bluebg{ right : 0px; margin-top: 470px; }
#rosebg{ left : 0px; margin-top: 900px; }
#plugintxt, #apptxt, #sitetxt{
	text-align: justify;
	width: 300px;
	font-family: 'Gilroy-Light';
	position: absolute;
}

#num1, #num2, #num3{
	font-family: 'Gilroy-ExtraBold';
	position: absolute;
	font-size: 90px;
	color : rgba(255, 255, 255, .6);
}
#num1{ left: 230px;}
#num2{ right: 150px; margin-top: 500px;}
#num3{ left: 230px; margin-top: 950px;}
#pluginh1, #siteh1, #apph1{
	color: #FFFFFF;
	position: absolute;
}
#pluginh1{
	left: 230px;
	margin-top: 100px;
}
#siteh1{
	right:150px;
	margin-top: 540px;
}
#apph1{
	left: 230px;
	margin-top: 990px;
}
#apppic, #sitepic, #pluginpic, #pluginlg{
	width: auto;
	position: absolute;
}

#pluginpic{
	height: 200px;
	width: auto;
	margin-top: 170px;
	left:230px;
}

#pluginlg{
	height: 300px;
	width: auto;
	left:340px;
	margin-top: 200px;
}

#apppic{
	height:350px;
	margin-top: 1070px;
	left: 180px;
}

#sitepic{
	height:420px;
	margin-top: 600px;
	right: 130px;
}

#footer{background-color: #001360; padding-bottom: 30px; padding-top: 30px;}

#smallersize{font-size: 12px; }

/*#smedia{
	margin-top: 50px;
}*/
#size{
	font-size: 20px;
}
/*#social{
	font-family: 'Gotham-Bold';
	font-size: 12px;
}*/

#foot h1{
	margin-top: 50px;
	text-align:center;
	text-transform:uppercase;
	font-size:0.8em;
	letter-spacing:0.05em;
	color:white;
}

#foot h1 a{
color:white;
}

.copyright {
min-height: 50px;
background:white;
}

.copyright h1 {
font-size: 0.6em;
letter-spacing: 0.05em;
color: #a3a3a3;
text-transform:uppercase;
text-align:center;
padding-top: 18px;
font-weight:normal;
}
