@font-face {
	font-family: 'Gilroy-ExtraBold';
	src: url('../fonts/Gilroy-Extrabold.otf');
}

@font-face {
	font-family: 'Gilroy-Light';
	src: url('../fonts/Gilroy-Light.otf');
}

*::-webkit-input-placeholder {
	color: white;
}
*:-moz-placeholder {
	/* FF 4-18 */
	color: white;
}
*::-moz-placeholder {
	/* FF 19+ */
	color: white;
}
*:-ms-input-placeholder {
	/* IE 10+ */
	color: white;
}

h1{
	font-family: 'Gilroy-ExtraBold';
	font-size: 50px;
}
h2{
	font-family: 'Gilroy-ExtraBold';
}

a{
	text-decoration: none;
	border-radius: 25px;
	border : 2px solid white;
	padding: 15px;
	font-family: 'Gilroy-Light';
}

@media screen and (min-width: 1241px)
{
	.inner_content{
		position: relative;
		margin: auto;
		min-width: 1240px;
		max-width: 1300px;
	}
	#plugintxt{ right: 145px; margin-top: 100px; }
	#apptxt{ left: 200px; margin-top : 660px; }
	#sitetxt{ right : 145px; margin-top: 1200px; }
	#aura{margin-top: 210px;}
}

@media screen and (max-width: 1240px)
{
	#plugintxt{ right: 40px; margin-top: 100px; }
	#apptxt{ left: 40px; margin-top : 660px; }
	#sitetxt{ right : 40px; margin-top: 1200px; }
	#aura{margin-top: 210px;}
	/*.inner_content{
		position: relative;
		margin: auto;
		min-width: 900px;
		max-width: 100%;
	}*/
}
@media screen and (max-width: 1000px){
	#aura{margin-top: 350px;}
}
#email{ border-radius: 25px; border : 2px solid white; padding: 18px; font-family: 'Gilroy-Light'; background-color: blue}

.yellow{
	color : #F8BF26;
}

.dividers{
	width: 100%;
	text-align: center;
	position: relative;
}

.whities{
	color : #FFFFFF;
}

.contact{ display: inline-block; vertical-align: top;}

#blue_div{
	text-align: center;
	background-color: darkblue;
}

#theyellowdiv{
	background-color: #F4F0CD;
	padding-bottom: 100px;
	padding-top: 50px;
}

#logo{ height:370px; width: auto; }
#tagcomp{ height: 380px; width: auto; padding-top: 20px; margin-right: 110px;}
#firsttext, #tagcomp, #becomeweb, #secondtext, #thirdtext, .inline{
	display: inline-block;
	vertical-align:middle;
}

#firsttext, #secondtext{ text-align: justify;}
#secondtext{font-family: 'Gilroy-Light'; width : 400px}
#thirdtext{font-family: 'Gilroy-Light';}
#becomeweb{ margin-left:90px; margin-right: 210px;}
#whatitis{padding-bottom: 50px; padding-top: 100px; }
#aura{
	position: absolute;
	height: 160px;
	width: auto;
	left: 50%;
	margin-left: -125.225px;
}
#plugin{
	width: 280px;
	height: 210px;
}

#site{
	width: auto;
	height: 200px;
	margin-right: 100px;
	margin-left: 60px;
}

#app{
	width: auto;
	height: 204px;
}

#contactus{
	margin-top: 30px;
	font-family: 'Gilroy-Light';
	/*font-weight: 60px;*/
	/*border-radius: 25px;
	border : 2px solid white;
	padding: 15px;*/
}
#giantdiv{
	position: relative;
	height : 1550px;
}

#orangebg, #bluebg, #rosebg{height: 550px; width: 550px; position: absolute;}
#orangebg{ left: 0px; }
#bluebg{ right : 0px; margin-top: 470px; }
#rosebg{ left : 0px; margin-top: 900px; }
#plugintxt, #apptxt, #sitetxt{
	text-align: justify;
	width: 300px;
	font-family: 'Gilroy-Light';
	position: absolute;
}

#num1, #num2, #num3{
	font-family: 'Gilroy-ExtraBold';
	position: absolute;
	font-size: 90px;
	color : rgba(255, 255, 255, .6);
}
#num1{ left: 230px;}
#num2{ right: 150px; margin-top: 500px;}
#num3{ left: 230px; margin-top: 950px;}
#pluginh1, #siteh1, #apph1{
	color: #FFFFFF;
	position: absolute;
}
#pluginh1{
	left: 230px;
	margin-top: 100px;
}
#siteh1{
	right:150px;
	margin-top: 540px;
}
#apph1{
	left: 230px;
	margin-top: 990px;
}
#apppic, #sitepic, #pluginpic, #pluginlg{
	width: auto;
	position: absolute;
}

#pluginpic{
	height: 200px;
	width: auto;
	margin-top: 170px;
	left:230px;
}

#pluginlg{
	height: 300px;
	width: auto;
	left:340px;
	margin-top: 200px;
}

#apppic{
	height:350px;
	margin-top: 1070px;
	left: 180px;
}

#sitepic{
	height:420px;
	margin-top: 600px;
	right: 130px;
}

#footer{background-color: blue; padding-bottom: 30px; padding-top: 30px;}

#cont{ margin-right: 30px;}

#smallersize{font-size: 12px; }
